<!DOCTYPE html>
<html>
<head>
	<title>The Will of the Wisps Wiki</title>
</head>
<body>

<h1>The Will of the Wisps Wiki</h1>
<dl>

<div id = 'cloud'>
<h2><a href = "{% url 'cloud_view' %}" id = 'cloud-view'>Cloud</a></h2>
<dt class = 'health-points'>Health Points</dt><dd>600</dd>
<dt>Base Attack Damage</dt><dd>57</dd>
</div>

<div id = 'jester'>
<h2><a href = "{% url 'jester_view' %}" id = 'jester-view'>Jester</a></h2>
<dt class = 'health-points'>Health Points</dt><dd>660</dd>
<dt>Base Attack Damage</dt><dd>64</dd>
</div>

<div id = 'sunflowey'>
<h2><a href = "{% url 'sunflowey_view' %}" id = 'sunflowey-view'>Sunflowey</a></h2>
<dt class = 'health-points'>Health Points</dt><dd>650</dd>
<dt>Base Attack Damage</dt><dd>43</dd>
</div>


</dl>

</body>
</html>